<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Kanban</title>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@3.0.0/dist/iconify-icon.min.js"></script>
    <script>
      function getAuth() {
        const token = localStorage.getItem("auth_token")
        if (token) {
          return `Bearer ${token}`;
        }
        return undefined;
      }
      document.addEventListener("htmx:configRequest", (event) => {
        
      });
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div id="user-status" hx-get="/api/user-status" hx-headers="js:{Authorization: getAuth()}" hx-trigger="load">
      Loading...
    </div>
  </body>
</html>
