<div class="ml-1 mt-3">
    <div class="flex items-center justify-start">
        <iconify-icon
          icon="mingcute:board-line"
          class="text-xl text-gray-500"
          noobserver
        ></iconify-icon>
        <span class="text-sm text-gray-500">My Boards</span>
    </div>
    <div class="ml-3">
        <button class="text-lg w-[95%] transition-all hover:transition-all border-transparent border h-10 rounded-xl hover:border-gray-400">My First Board</button>
        <button class="text-lg w-[95%] transition-all hover:transition-all border-transparent border h-10 rounded-xl hover:border-gray-400">My First Board</button>
        <button class="text-lg w-[95%] transition-all hover:transition-all border-transparent border h-10 rounded-xl hover:border-gray-400">My First Board</button>
    </div>
</div>